<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Newtours Automation">
	<listeners>
		<listener class-name="com.qa.demo.reports.ExtentReporterNG" />
	</listeners>
	<test name="Newtours Automation Test">
		<classes>
			<class name="com.qa.demo.applicationTest.IDMTest"></class>
		</classes>
	</test>
</suite>