<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation">
	<listeners>
		<listener class-name="com.qa.demo.reports.ExtentReporterNG" />
	</listeners>
	<test name="Automation Test">
		<classes>
		
		<class name="com.qa.wave3.GPRICE"></class>
		
			<class name="com.qa.wave4.AuditUtopia"></class>
	
		</classes>
	</test>
</suite>