<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation">
	<listeners>
		<listener class-name="com.qa.demo.reports.ExtentReporterNG" />
	</listeners>
	<test name="Automation Test">
		<classes>
			<class name="com.qa.wave4.CPT"></class>
			<class name="com.qa.wave4.B3P"></class>
			<class name="com.qa.wave4.BAS"></class>
			<class name="com.qa.wave4.BSKCS"></class>
			<class name="com.qa.wave4.BDRP"></class>
			<class name="com.qa.wave4.DART"></class>
			<class name="com.qa.wave4.Prolo"></class>
		</classes>
	</test>
</suite>